<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Heng Zi Hui & Chua Zhao Lin Jasper">
    <meta name="description" content="Assignment CaloREE landing page">
    <link rel="icon" type="image/png" href="..\static\media\logo.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/index.css" />
    <title>CaloREE</title>
</head>
<body class="backgroundImg">
    <div class="content container">
        <form method=POST id="uploadForm" enctype=multipart/form-data>
            <label class="takePicBtn">Take Picture<input type="file" id="uploadPicture" name="file" accept="image/*;capture=camera"></label>
            <label class="uploadPicBtn">Upload Picture<input type="file" id="uploadPicture2" name="file" accept="image/*"></label>
        </form>
        <a href="/login" class="signIn">Sign In</a>
        <a href="/register" class="signUp">Sign Up</a>
        <div class="mySlides bgcolour1">
            <img class="animatee" src="../static/media/backgroundImg1.jpg" style="height: 85vh; width: 100%; object-fit: cover;">
            <div class="companyName">
                <a href="{{ url_for('upload_file') }}" style="text-decoration: none; color:#111;">CaloREE</a>
            </div>
            <div class="caption1">
                BANANA
            </div>
            <div class="nutrition">
                <section class="calorie container">
                    <div class="animatee num">
                        <b>110</b>
                    </div>
                    <div class="name">
                        Calories
                    </div>
                </section>
                <section class="carb container">
                    <div class="animatee num">
                        <b>30g</b>
                    </div>
                    <div class="name">
                        Carbs
                    </div>
                </section>
                <section class="fibre container">
                    <div class="animatee num">
                        <b>2.6g</b>
                    </div>
                    <div class="name">
                        Fibre
                    </div>
                </section>
                <section class="fats container">
                    <div class="animatee num">
                        <b>-</b>
                    </div>
                    <div class="name">
                        Fats
                    </div>
                </section>
                <section class="protein container">
                    <div class="animatee num">
                        <b>1g</b>
                    </div>
                    <div class="name">
                        Protein
                    </div>
                </section>
            </div>
        </div>

        <div class="mySlides bgcolour2">
            <img class="animatee" src="../static/media/backgroundImg2.jpg" style="height: 85vh; width: 100%;object-fit: cover;">
            <div class="companyName">
                <a href="{{ url_for('upload_file') }}" style="text-decoration: none; color:#111;">CaloREE</a>
            </div>
            <div class="caption2">
                CORN
            </div>
            <div class="nutrition">
                <section class="calorie container">
                    <div class="animatee num">
                        <b>77</b>
                     </div>
                    <div class="name">
                        Calories
                    </div>
                </section>
                <section class="carb container">
                    <div class="animatee num">
                        <b>17g</b>
                    </div>
                    <div class="name">
                        Carbs
                    </div>
                </section>
                <section class="fibre container">
                    <div class="animatee num">
                        <b>2.4g</b>
                    </div>
                    <div class="name">
                        Fibre
                    </div>
                </section>
                <section class="fats container">
                    <div class="animatee num">
                        <b>1g</b>
                    </div>
                    <div class="name">
                        Fats
                    </div>
                </section>
                <section class="protein container">
                    <div class="animatee num">
                        <b>3g</b>
                    </div>
                    <div class="name">
                        Protein
                    </div>
                </section>
            </div>
        </div>

        <div class="mySlides bgcolour3">
            <img class="animatee" src="../static/media/backgroundImg3.jpg" style="height: 85vh; width: 100%;object-fit: cover;">
            <div class="companyName">
                <a href="{{ url_for('upload_file') }}" style="text-decoration: none; color:#111;">CaloREE</a>
            </div>
            <div class="caption3">
                DIMSUM
            </div>
            <div class="nutrition">
                <section class="calorie container">
                    <div class="animatee num">
                        <b>35</b>
                    </div>
                    <div class="name">
                        Calories
                    </div>
                </section>
                <section class="carb container">
                    <div class="animatee num">
                        <b>3g</b>
                    </div>
                    <div class="name">
                        Carbs
                    </div>
                </section>
                <section class="fibre container">
                    <div class="animatee num">
                        <b>1g</b>
                    </div>
                    <div class="name">
                        Fibre
                    </div>
                </section>
                <section class="fats container">
                    <div class="animatee num">
                        <b>2g</b>
                    </div>
                    <div class="name">
                        Fats
                    </div>
                </section>
                <section class="protein container">
                    <div class="animatee num">
                        <b>2g</b>
                    </div>
                    <div class="name">
                        Protein
                    </div>
                </section>
            </div>
        </div>
    </div>
    <script src="../static/js/index.js"></script>
    <!-- Banana: 89calories, corn:86.04cal, dimsum-35cal-->
    <!-- still gotta add in the sign up sign in button, the calorie, and adjust the slideshow animation -->
</body>
</html>
