<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Heng Zi Hui & Chua Zhao Lin Jasper">
    <meta name="description" content="Assignment CaloREE landing page">
    <link rel="icon" type="image/png" href="..\static\media\logo.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/index.css" />
    <title>CaloREE</title>
</head>
<body class="backgroundImg">
    <div class="content container">
        <form method=POST id="uploadForm" enctype=multipart/form-data>
            <label class="takePicBtn">Take Picture<input type="file" id="uploadPicture" name="file" accept="image/*;capture=camera"></label>
            <label class="uploadPicBtn">Upload Picture<input type="file" id="uploadPicture2" name="file" accept="image/*"></label>
        </form>
        <div class="nameOfUser">Welcome, {{ user }}</div>
        <a href="{{ url_for('logout') }}" class="logOut">Log Out</a>
        <div class="mySlides bgcolour1" style="height: 86vh;">
            <img class="animatee" src="../static/uploads/{{ filename }}" style="height: 69vh; display: block; top: 50%; left: 50%; transform: translate(-50%, -50%); border-radius: 20px; max-width: 85%; object-fit: cover;">
            <div class="companyName">
                <a href="{{ url_for('upload_file') }}" style="text-decoration: none;color: #111;">CaloREE</a>
            </div>
            <div class="caption4">
                {{ name }}
            </div>
            <section class="calorieR container">
                <div class="animatee num">
                    <b>{{ calorie }}</b>
                </div>
                <div class="name">
                    Calories
                </div>
            </section>
            <section class="carbR container">
                <div class="animatee num">
                    <b>{{ carbs }}g</b>
                </div>
                <div class="name">
                    Carbs
                </div>
            </section>
            <section class="fibreR container">
                <div class="animatee num">
                    <b>{{ fibre }}g</b>
                </div>
                <div class="name">
                    Fibre
                </div>
            </section>
            <section class="fatsR container">
                <div class="animatee num">
                    <b>{{ fats }}g</b>
                </div>
                <div class="name">
                    Fats
                </div>
            </section>
            <section class="proteinR container">
                <div class="animatee num">
                    <b>{{ protein }}g</b>
                </div>
                <div class="name">
                    Protein
                </div>
            </section>
            <section class="calRemaining container">
                <div class="animatee num">
                    <b>{{ usercal }}</b>
                </div>
                <div class="name">
                    Cals left
                </div>
            </section>
        </div>
    </div>
    <script src="../static/js/index.js"></script>
    <!-- Banana: 89calories, corn:86.04cal, dimsum-35cal-->
    <!-- still gotta add in the sign up sign in button, the calorie, and adjust the slideshow animation -->
</body>
</html>
