<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="mobile-web-app-capable" content="yes">
    <meta charset='utf-8'>
    <!-- materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <!-- jquery -->
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <!-- scripts -->
    <script type=text/javascript src="{{url_for('static', filename='audio.js')}}"></script>
    <!-- <script type=text/javascript src="{{url_for('static', filename='newaudio.js')}}"></script> -->
    <script type=text/javascript src="{{url_for('static', filename='WebAudioRecorder.js')}}"></script>
		
    <title>CaloREE</title>
  </head>
  <body>
    <div class='cassette'>
      <div class='container' id="cassetteContainer">
	      <div style="font-size:30px;cursor:pointer" onclick="openNav()" class="sidebarBtn"><i class="material-icons dp48">keyboard_arrow_right</i></div>
        <div id="legendSideBar" class="sidebar">
          <div class='legend-div'>
            <div><div class='legend' style='background-color:#000000;'> <p class='emotion-labels'>Neutral</p></div><img src="../static/images/emojis/neutral.png" class='emojis'></div>
            <div><div class='legend' style='background-color:#212F3C;'> <p class='emotion-labels'>Calm</p></div><img src="../static/images/emojis/calm.png" class='emojis'></div>
            <div><div class='legend' style='background-color:#F1C40F;'> <p class='emotion-labels'>Happy</p></div><img src="../static/images/emojis/happy.png" class='emojis'></div>
            <div><div class='legend' style='background-color:#515A5A;'> <p class='emotion-labels'>Sad</p></div><img src="../static/images/emojis/sad.png" class='emojis'></div>
            <div><div class='legend' style='background-color:#CB4335;'> <p class='emotion-labels'>Angry</p></div><img src="../static/images/emojis/angry.png" class='emojis'></div>
            <div><div class='legend' style='background-color:#9B59B6;'> <p class='emotion-labels'>Fearful</p></div><img src="../static/images/emojis/fearful.png" class='emojis'></div>
            <div><div class='legend' style='background-color:#5B2C6F;'> <p class='emotion-labels'>Disgusted</p></div><img src="../static/images/emojis/disgusted.png" class='emojis'></div>
            <div><div class='legend' style='background-color:#026655;'> <p class='emotion-labels'>Surprised</p></div><img src="../static/images/emojis/surprised.png" class='emojis'></div>
          </div>
        </div>
        <img src="../static/images/cassette.png" class='icon'>
        <h2 class='cassette-name'>Caloree<h2>
	<input type="file" accept="image/*;capture=camera">
        <p class='subtext'><span style='color: #fb4f4f'>Emotions</span> Illustrified</p>
        <p class='subtext2'>Press Record to begin.</p>
        <div id='bigContainer' class='text-div' style="overflow: auto;">
        </div>
        <img src="../static/images/cassette2.png" class='icon2'>

        <div>
          <img src="../static/images/cassette2.png" class='icon2'>
        </div>
	<div class="trashcan" id="deleteBtn" onClick="deleteDivs()">
	  <a class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">delete</i></a>
	</div>
        <div id="mediaButton" class='button-align' onclick="showTrashcan()">
          <a class="waves-effect waves-light btn-large">
            <!-- <i class="material-icons">keyboard_voice</i> -->
            <i id="playerIcon">Record</i>
          </a>
        </div>
      </div> 

  <script>
  $( '#bigContainer').hide();
  $( "#mediaButton" ).mousedown(function() {
  $( "#bigContainer" ).fadeIn( "slow", function() {
    // Animation complete
    });
  });

  </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script src="../static/pleaseendmysuffering.js"></script>
  </body>
</html>

