<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Heng Zi Hui & Chua Zhao Lin Jasper">
    <meta name="description" content="Assignment CaloREE landing page">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css" />
    <title>CaloREE</title>
</head>
<body class="backgroundImg">
    <div class="content container">
        <a href="user.html" class="getStartedBtn" title="Get Started">Get Started For Free</a>
        <div class="mySlides bgcolour1">
            <img class="animatee" src="media/backgroundImg1.jpg" style="height: 85vh; width: 100%;">
            <div class="companyName">
                CaloREE
            </div>
            <div class="caption1">
                BANANA
            </div>
            <div class="calorie">
                insert calorie intake hereeeeeeeee
            </div>
        </div>

        <div class="mySlides bgcolour2">
            <img class="animatee" src="media/backgroundImg2.jpg" style="height: 85vh; width: 100%;">
            <div class="companyName">
                CaloREE
            </div>
            <div class="caption1">
                CORN
            </div>
            <div class="calorie">
                insert calorie intake hereeeeeeeee
            </div>
        </div>

        <div class="mySlides bgcolour3">
            <img class="animatee" src="media/backgroundImg3.jpg" style="height: 85vh; width: 100%;">
            <div class="companyName">
                CaloREE
            </div>
            <div class="caption1">
                DIMSUM
            </div>
            <div class="calorie">
                insert calorie intake hereeeeeeeee
            </div>
        </div>
    </div>
    <!-- still gotta add in the sign up sign in button, the calorie, adjust the slideshow animation, and somehow make the page more vibrant its getting a lil too dark MORE WHITES -->
</body>
<script src="js/index.js"></script>
</html>